<header>
    <h2>Accueil</h2>
</header>

<section>
    <ul>
        <li>Présentation</li>
        <ul>
            <li>La syntaxe standard angular (MVVM ou MWM)</li>
            <li>One Way Data Binding (Component <=> Template) </li>
            <li>Two Way Data Binding </li>
            <li>Les variables de templates</li>
            <li>Les ngModels</li>
            <li>Exercices 1</li>
        </ul>
        <li>Navigation (Partie 1)</li>
        <li>Template (Vue)</li>
        <ul>
            <li>Pipes (filtres)</li>
            <li>Locales (langues)</li>
            <li>Directives</li>
        </ul>
        <li>Pipes et Directives Personnalisées</li>
        <li>Formulaires</li>
        <ul>
            <li>Template driven forms (ngModels)</li>
            <li>Formulaire reactif</li>
            <li>Validateurs</li>
            <li>Validateurs Personnalisés</li>
        </ul>
        <li>Navigation (Partie 2)</li>
        <ul>
            <li>Paramètre d'url</li>
            <li>Découper les données des vues, appel output et data (option)</li>
        </ul>
        <li>Service</li>
        <li>Promise & Observer</li>
        <li>Http (xhr)</li>
        <li>XSS (option)</li>
        <li>Ouput de template (decorateur)(option)</li>
        <li>Héritage de vue (option)</li>
    </ul>

</section>