<nav>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/app" routerLinkActive="active">App</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/presentation" routerLinkActive="active">Présentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todo (exercice)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/template" routerLinkActive="active">Template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/custom" routerLinkActive="active">Custom</a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/xss" routerLinkActive="active">XSS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/formulaire" routerLinkActive="active">Formulaire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/parameters" routerLinkActive="active">Parameters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/service" routerLinkActive="active">Service</a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/promobse" routerLinkActive="active">Promise & Observable</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/http" routerLinkActive="active">Http (xhr)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/input" routerLinkActive="active">Input</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/boutique" routerLinkActive="active">Boutique</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>